# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
.env
venv/
env/
media/
staticfiles/
backups/
.gitignore

# =========================
# Django Logs
# =========================
*.log

# =========================
# Node / React / Vite
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Uploads / Temp
# =========================
tmp/
temp/
.cache/

# =========================
# Mac
# =========================
.AppleDouble
.LSOverride