# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc
venv/
env/
.env

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# Mac
.DS_Store

# VS Code
.vscode/

# Logs
*.log